{% extends 'base.html' %}
{% block content %}


{% partialdef reorderbutton %}
<!-- Partial for reorder button -->
<button hx-post="{% url 'teilhaushalte_uebersicht' %}"
        hx-target="#thtable"
        hx-swap="outerHTML">
    Reihenfolge anzeigen
</button>
{% endpartialdef %}

{% partialdef delete_confirmation %}
<!-- Partial for delete-confirmation -->

<div class="delete-confirmation" id="delete-confirmation-{{ th.id }}">
<h3>Sind Sie sicher, dass dieser Teilhaushalt gelöscht werden soll? </h3>    
<p>Der Löschvorgang kann nicht rückgängig gemacht werden und wirkt sich möglicherweise auf bestehende Datensätze aus.</p>
    <button hx-post="{% url 'teilhaushalte_delete' th.id %}"
            hx-target="#thtable"
            hx-swap="outerHTML">
        Ja
    </button>
    <a href="#" onclick="return confirm('Are you sure?')">Nein</a>
</div>
{% endpartialdef %}

{% partialdef tablerow %}
<!-- Partial zum austausch einzelner Zeilen -->
        <div class="row" id="thtablerow-{{ th.id }}">
            <div class="cell">{{ th.gemeinde }}</div>
            <div class="cell">{{ th.haushaltsjahr }}</div>
            <div class="cell">{{ th.th }}</div>
            <div class="cell">{{ th.th_bezeichnung }}</div>
            
            <div class="cell">
                    <p><a hx-get="{% url 'teilhaushalte_edit' th.id %}"
                    hx-target="#thtablerow-{{ th.id }}"
                    hx-swap="outerHTML">Bearbeiten</a></p>
                    <p><a hx-get="{% url 'teilhaushalte_delete' th.id %}"
                    hx-target="#delete-confirmation-{{ th.id }}"
                    hx-swap="outerHTML"
                    
                    > Löschen</a></p>
                </div>
        </div>

{% endpartialdef %}

{% partialdef th_add_form %}
<!-- Partial für den Create Prozess -->
<div class="row" id="th_add_row">    

    <form hx-post="{% url 'teilhaushalte_add' %}"
          hx-target="#th_add_row"
          hx-swap="outerHTML"
          style="display:contents">
        {% csrf_token %}

        <div class="cell">{{ form.gemeinde }}</div>
        <div class="cell">{{ form.haushaltsjahr }}</div>
        <div class="cell">{{ form.th }}</div>
        <div class="cell">{{ form.th_bezeichnung }}</div>
        
        <div class="cell">
            <button type="submit">Speichern</button>
            <p><a hx-get="{% url 'teilhaushalte_uebersicht' %}"
               hx-target="#thtable"
               hx-swap="outerHTML">Abbrechen</a></p>
        </div>
    </form>
</div>

{% endpartialdef %}


{% partialdef thtable_edit %}

<div class="row" id="thtablerow-{{ th.id }}">    
    <form hx-post="{% url 'teilhaushalte_edit' th.id %}"
          hx-target="#thtablerow-{{ th.id }}"
          hx-swap="outerHTML"
          style="display:contents">
        {% csrf_token %}
        <div class="cell">{{ form.gemeinde }}</div>
        <div class="cell">{{ form.haushaltsjahr }}</div>
        <div class="cell">{{ form.th }}</div>
        <div class="cell">{{ form.th_bezeichnung }}</div>
        
        <div class="cell">
            <button type="submit">Speichern</button>
            <p><a hx-get="{% url 'teilhaushalte_cancel' th.id %}"
               hx-target="#thtablerow-{{ th.id }}"
               hx-swap="outerHTML">Abbrechen</a></p>
        </div>
    </form>
</div>
 
{% endpartialdef %}

<div id="gdetable">
    
<h1>Teilhaushalte</h1>
<div id="delete-confirmation"></div>
<a  hx-get="{% url 'teilhaushalte_add' %}"
    hx-target="#newthform"
    hx-swap="outerHTML"
    >Neuen Teilhaushalt hinzufügen</a>





<div class="table">
    <div class="thead">
        <div class="row">
            <div class="cell">Gemeinde</div>
            <div class="cell">Haushaltsjahr</div>
            <div class="cell">Teilhaushaltsnummer</div>
            <div class="cell">Teilhaushaltsbezeichnung</div>
        
            <div class="cell">Aktionen</div>
        </div>
    </div>

    <div class="tbody">
        {% for th in teilhaushalte %}
        <div class="row" id="gdetablerow-{{ th.id }}">
            <div class="cell">{{ th.gemeinde }}</div>
            <div class="cell">{{ th.haushaltsjahr }}</div>
            <div class="cell">{{ th.th }}</div>
            <div class="cell">{{ th.th_bezeichnung }}</div>
            <div class="cell">
                <p><a hx-get="{% url 'teilhaushalte_edit' th.id %}"
                   hx-target="#thtablerow-{{ th.id }}"
                   hx-swap="outerHTML">Bearbeiten</a></p>
                <p><a hx-get="{% url 'teilhaushalte_delete' th.id %}"
                   hx-target="#delete-confirmation"
                   hx-swap="outerHTML"               
                   >Löschen</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="newthform"></div>
</div>
</div>
{% endblock %}