
{% extends 'base.html' %}

{% block content %}
<h2>Willkommen bei KomStar!</h2>

<p>Hier können Sie die Organisationsstruktur Ihrer Gemeinde verwalten.</p>
<p>Wählen Sie eine der folgenden Optionen:</p>






<h2>Einrichtungsoptionen</h2>
<p></p>
<h3>Personal</h3>



<h3>Stellenplan</h3>

<ul>
    <li><a href="{% url 'stellenuebersicht' %}">Stellen verwalten</a></li>
    <li><a href="{% url 'stellenarten_uebersicht' %}">Stellenarten verwalten</a></li>
    <li><a href="{% url 'hhjgde_uebersicht' %}">Haushaltsjahr Gemeinde</a></li>
    <li><a href="{% url 'haushalte_uebersicht' %}">Haushalte verwalten</a></li>
    <li><a href="{% url 'produkte_uebersicht' %}">Produkte verwalten</a></li>
</ul>

<h3>Orga</h3>
<ul>
    <li><a href="{% url 'koerperschaftstypenuebersicht' %}">Körperschaftstypen verwalten</a></li>
    <li><a href="{% url 'gemeindenuebersicht' %}">Gemeinden verwalten</a></li>
    <li><a href="{% url 'stellenuebersicht' %}">Stellen verwalten</a></li>
    <li><a href="{% url 'personaluebersicht' %}">Mitarbeiter verwalten</a></li>
</ul>

<h3>Personal</h3>
<ul>
    <li><a href="{% url 'verggrp_ueb' %}">Vergütungsgruppen verwalten</a></li>
    <li><a href="{% url 'stundenvzae_ueb' %}">Arbeitszeitstandards</a></li>
    <li><a href="{% url 'tabellenentgelt_ueb' %}">Tabellenentgelte</a></li>

{% endblock %}

