{% extends 'base.html' %}
{% block content %}


{% partialdef reorderbutton %}
<button hx-post="{% url 'gemeindenuebersicht' %}"
        hx-target="#gdetable"
        hx-swap="outerHTML">
    Reihenfolge anzeigen
</button>
{% endpartialdef %}

{% partialdef gdetablerow %}
<!--
<tr>
        <td>{{ gemeinde.gemeindenummer }}</td>
        <td>{{ gemeinde.gemeinde }}</td>
        <td>{{ gemeinde.arbeitgebernummerPPA }}</td>
        <td>{{ gemeinde.arbeitgebernummerZVK }}</td>
        <td>{{ gemeinde.arbeitgebernummerRV }}</td>
        <td>{{ gemeinde.aktiv }}</td>
        <td>{{ gemeinde.gueltig_bis }}</td>


        <td>
            <a href="{% url 'gemeinde_edit' gemeinde.id %}" 
               hx-get="{% url 'gemeinde_edit' gemeinde.id %}" 
               hx-target="closest tr" 
               hx-swap="outerHTML">Bearbeiten</a>
            
            <a href="{% url 'gemeinde_delete' gemeinde.id %}">Löschen</a>
        </td>
    </tr>
-->
        <div class="row" id="gdetablerow-{{ gemeinde.id }}">
            <div class="cell">{{ gemeinde.gemeindenummer }}</div>
            <div class="cell">{{ gemeinde.gemeinde }}</div>
            <div class="cell">{{ gemeinde.Koerperschaftstyp }}</div>
            <div class="cell">{{ gemeinde.arbeitgebernummerPPA }}</div>
            <div class="cell">{{ gemeinde.arbeitgebernummerZVK }}</div>
            <div class="cell">{{ gemeinde.arbeitgebernummerRV }}</div>
            <div class="cell">{{ gemeinde.aktiv|yesno:"Ja,Nein" }}</div>
            <div class="cell">{{ gemeinde.gueltig_bis }}</div>
            <div class="cell">
                    <p><a hx-get="{% url 'gemeinde_edit' gemeinde.id %}"
                    hx-target="#gdetablerow-{{ gemeinde.id }}"
                    hx-swap="outerHTML">Bearbeiten</a></p>
                    <p><a hx-get="{% url 'gemeinde_delete' gemeinde.id %}"
                    hx-target="#gdetablerow-{{ gemeinde.id }}"
                    hx-swap="outerHTML">Löschen</a></p>
                </div>
        </div>

{% endpartialdef %}

{% partialdef gdetable_add %}

<div class="row" id="gde_add_row">    

    <form hx-post="{% url 'gemeinde_add' %}"
          hx-target="#gde_add_row"
          hx-swap="outerHTML"
          style="display:contents">
        {% csrf_token %}

        <div class="cell">{{ form.gemeindenummer }}</div>
        <div class="cell">{{ form.gemeinde }}</div>
        <div class="cell">{{ form.Koerperschaftstyp }}</div>
        <div class="cell">{{ form.arbeitgebernummerPPA }}</div>
        <div class="cell">{{ form.arbeitgebernummerZVK }}</div>
        <div class="cell">{{ form.arbeitgebernummerRV }}</div>
        <div class="cell">{{ form.aktiv }}</div>
        <div class="cell">{{ form.gueltig_bis }}</div>
        <div class="cell">
            <button type="submit">Speichern</button>
            <p><a hx-get="{% url 'gemeinde_add' %}"
               hx-target="#gde_add_row"
               hx-swap="outerHTML">Abbrechen</a></p>
        </div>
    </form>
</div>

{% endpartialdef %}


{% partialdef gdetable_edit %}
<!--
<tr>
    <form action="" method="post" >
            {% csrf_token %}
           
                    <td>{{ form.gemeindenummer.label }}: {{ form.gemeindenummer }}</td>
                    <td>{{ form.gemeinde.label }}: {{ form.gemeinde }}</td>
                    <td>{{ form.arbeitgebernummerPPA.label }}: {{ form.arbeitgebernummerPPA }}</td>
                    <td>{{ form.arbeitgebernummerZVK.label }}: {{ form.arbeitgebernummerZVK }}</td>
                    <td>{{ form.arbeitgebernummerRV.label }}: {{ form.arbeitgebernummerRV }}</td>
                    <td>{{ form.aktiv.label }}: {{ form.aktiv }}</td>
                    <td>{{ form.gueltig_bis.label }}: {{ form.gueltig_bis }}</td>
                    <td>
                        <button type="submit"
                            hx-post="{% url 'gemeinde_edit' gemeinde.id %}" 
                            hx-target="closest tr" 
                            hx-swap="outerHTML"
                        >Speichern</button>
                        
                        <a href="{% url 'gemeindenuebersicht' %}" 
                           hx-get="{% url 'gemeindenuebersicht' %}" 
                           hx-target="closest body"
                           hx-swap = "outerHTML"
                           >Abbrechen
                        </a>
                           
                    </td>      
     </form>
</tr>
-->
<div class="row" id="gdetablerow-{{ gemeinde.id }}">    
    <form hx-post="{% url 'gemeinde_edit' gemeinde.id %}"
          hx-target="#gdetablerow-{{ gemeinde.id }}"
          hx-swap="outerHTML"
          style="display:contents">
        {% csrf_token %}
        <div class="cell">{{ form.gemeindenummer }}</div>
        <div class="cell">{{ form.gemeinde }}</div>
        <div class="cell">{{ form.Koerperschaftstyp }}</div>
        <div class="cell">{{ form.arbeitgebernummerPPA }}</div>
        <div class="cell">{{ form.arbeitgebernummerZVK }}</div>
        <div class="cell">{{ form.arbeitgebernummerRV }}</div>
        <div class="cell">{{ form.aktiv }}</div>
        <div class="cell">{{ form.gueltig_bis }}</div>
        <div class="cell">
            <button type="submit">Speichern</button>
            <p><a hx-get="{% url 'gemeinde_edit' gemeinde.id %}"
               hx-target="#gdetablerow-{{ gemeinde.id }}"
               hx-swap="outerHTML">Abbrechen</a></p>
        </div>
    </form>
</div>
 
{% endpartialdef %}


<h1>Gemeinden</h1>

<a  hx-get="{% url 'gemeinde_add' %}"
    hx-target="#newgemeindeform"
    hx-swap="outerHTML"
    >Neue Gemeinde hinzufügen</a>





<div class="table">
    <div class="thead">
        <div class="row">
            <div class="cell">Gemeindenummer</div>
            <div class="cell">Name</div>
            <div class="cell">Arbeitgebernummer PPA</div>
            <div class="cell">Arbeitgebernummer ZVK</div>
            <div class="cell">Arbeitgebernummer RV</div>
            <div class="cell">Aktiv</div>
            <div class="cell">Gültig bis</div>            
            <div class="cell">Aktionen</div>
        </div>
    </div>

    <div class="tbody">
        {% for gemeinde in gemeinden %}
        <div class="row" id="gdetablerow-{{ gemeinde.id }}">
            <div class="cell">{{ gemeinde.gemeindenummer }}</div>
            <div class="cell">{{ gemeinde.gemeinde }}</div>
            <div class="cell">{{ gemeinde.Koerperschaftstyp }}</div>
            <div class="cell">{{ gemeinde.arbeitgebernummerPPA }}</div>
            <div class="cell">{{ gemeinde.arbeitgebernummerZVK }}</div>
            <div class="cell">{{ gemeinde.arbeitgebernummerRV }}</div>
            <div class="cell">{{ gemeinde.aktiv|yesno:"Ja,Nein" }}</div>
            <div class="cell">{{ gemeinde.gueltig_bis }}</div>
            <div class="cell">
                <p><a hx-get="{% url 'gemeinde_edit' gemeinde.id %}"
                   hx-target="#gdetablerow-{{ gemeinde.id }}"
                   hx-swap="outerHTML">Bearbeiten</a></p>
                <a hx-get="{% url 'gemeinde_delete' gemeinde.id %}"
                   hx-target="#gdetablerow-{{ gemeinde.id }}"
                   hx-swap="outerHTML">Löschen</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="newgemeindeform"></div>
</div>

{% endblock %}